# Node modules
node_modules/

# Logs
npm-debug.log*

*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env




# Dependency directories
jspm_packages/

# IDE / Editor settings
.vscode/

